body{
    width: auto;
    height: auto;
    max-width: 1920px;
    max-height: 79.875px;
    background-color: rgb(70, 142, 241);
    font:normal 15pt Arial,Helvetica,sans-serif;
}
header{
    color:#000000;
    text-align: center;
}
section{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 11px;
    width: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0 ,0 , 0.163);
    max-width: 500px;
}
footer{
    color:#ffffff;
    text-align: center;
    font-style: italic;
    padding: 20px;
    font-size: 18px;
}
#imagem{
    width: 200px;
    height: 200px;
    border-radius: 100px 100px 100px 100px;
}
div{
    padding:8px
}
.title{
    font-size: 30px;
}